<div class="top">
    <div class=error >{{error.error}}</div >

  <div class="alignright">
    <div class="title"> Welcome<i class="fa fa-quote-left right left"></i><i class="username">{{user}}</i><i class="fa fa-quote-right left"></i> 
  </div>

  <div class="logout">
    <a [routerLink]="['/login']" class="farleft" ><i class="fa fa-power-off right"></i>Logout</a>
  </div>

</div>

<svg viewBox="0 0 260 20" xmlns="http://www.w3.org/2000/svg">
  <style>
    .heavy { font: bold 10px sans-serif; }

    /* Note that the color of the text is set with the    *
     * fill property, the color property is for HTML only */
    .Rrrrr { font: italic 10px serif; fill: red; text-shadow: 1px 1px 1px grey;}
  </style>


  <text x="90" y="10" class="heavy">products</text>

  <text x="135" y="10" class="Rrrrr">list!</text>
</svg>
<hr />    
<input type="search" class="form-control" placeholder="Please enter search term" [formControl]="searchField">
<hr/>
<ul>
  <li *ngFor="let search of searches">{{ search }}</li>
</ul>
<div class="alignleft">
    <button class="btn btn-primary" (click)="addProduct()"><i class="fa fa-thumbs-up right"></i>Add product</button>
  </div>
<table class="table table-striped">
      <thead>
        <tr>
          <th class="hidden">Id</th>
          <th>Name</th>
          <th>detail</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td class="hidden">{{product.id}}</td>
          <td>{{product.name}}</td>
          <td>{{product.detail}}</td>
          <td>
            <i class="fa fa-pencil-square-o" aria-hidden="true" (click)="editProduct(product)"></i>
            <i class="fa fa-trash-o" (click)="deleteProduct(product)" style="margin-left:10px;"></i>
          </td>        
        </tbody>
      </table>
      <div *ngIf="loading"><i class="fa fa-spinner"></i></div>  
    </div>
    