<div class="top">
    <div class=error >{{error.error}}</div >

      <div class="alignright">
        <div > Welcome 
          <i class="fa fa-quote-left right left"></i>
          <a class="title"[routerLink]="['/user']"><i class="username">{{user}}</i></a>
          <i class="fa fa-quote-right left"></i>
      </div>
    
      <div class="logout">
        <a [routerLink]="['/login']" class="farleft" ><i class="fa fa-power-off right"></i>Logout</a>
      </div>
        <svg viewBox="0 0 250 22" xmlns="http://www.w3.org/2000/svg">
          <style>
            .heavy { font: bold 7 sans-serif; }
            .Rrrrr { font: italic 7 serif; fill: red; text-shadow: 1px 1px 1px grey;}
          </style>
  <text x="90" y="10" class="heavy">products</text>
  <text x="155" y="10" class="Rrrrr">list!</text>
</svg>
<input type="search" class="form-control" placeholder="Please enter search term" [formControl]="searchField">
<ul>
  <li *ngFor="let search of searches">{{ search }}</li>
</ul>
<div class="alignleft">
    <button class="btn btn-primary" (click)="addProduct()"><i class="fa fa-thumbs-up right"></i>Add product</button>
  </div>
<table class="table table-striped">
      <thead>
        <tr>
          <th class="hidden">Id</th>
          <th>Name</th>
          <th>detail</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td class="hidden">{{product.id}}</td>
          <td>{{product.name}}</td>
          <td>{{product.detail}}</td>
          <td>
            <i class="fa fa-pencil-square-o" aria-hidden="true" (click)="editProduct(product)"></i>
            <i class="fa fa-trash-o" (click)="deleteProduct(product)" style="margin-left:10px;"></i>
          </td>        
        </tbody>
      </table>
      <div *ngIf="loading"><i class="fa fa-spinner"></i></div>  
    </div>
    