<div class="top">
    <div class="alignright">
        <div class="title"> Welcome<i class="fa fa-quote-left right left"></i><i class="username">{{user}}</i><i class="fa fa-quote-right left"></i> 
      </div>
      <div>
      <div class="logout">
        <a [routerLink]="['/login']" class="farleft" ><i class="fa fa-power-off right"></i>Logout</a>
      </div>
      <svg viewBox="0 0 240 30" xmlns="http://www.w3.org/2000/svg">
        <style>
          .small { font: italic 13px sans-serif; }
          .heavy { font: bold 10px sans-serif; }
      
          /* Note that the color of the text is set with the    *
           * fill property, the color property is for HTML only */
          .Rrrrr { font: italic 15px serif; fill: red; }
        </style>
      
      
        <text x="70" y="15" class="heavy">edit</text>
      
        <text x="95" y="15" class="Rrrrr">product!</text>
      </svg>
    <form [formGroup]="formEdit" (ngSubmit)="onSubmit()">
      <div class="form-group">
      <input required formControlName="name" type="text" id="name" name="name" class="form-control" placeholder="enter name" />
    </div>
    <div class="form-group">
      <input required type="text" id="detail" formControlName="detail" name="detail" class="form-control" placeholder="enter detail" />
    </div>
    <div class="form-group">
      <button [disabled]="!formEdit.valid" class="btn btn-success"><i class="fa fa-edit right"></i>Update</button>
      <button class="btn btn-basic" style="margin-left:10px"  (click)="back()"><i class="fa fa-repeat"></i></button>
    </div>
    <div *ngIf="loading"><i class="fa fa-spinner"></i></div>  

    </form>
  </div>