<div class="top">
  <div class="alignright">
    <div > Welcome 
      <i class="fa fa-quote-left right left"></i>
      <a class="title"[routerLink]="['/user']"><i class="username">{{user}}</i></a>
      <i class="fa fa-quote-right left"></i>
  </div>

  <div class="logout">
    <a [routerLink]="['/login']" class="farleft" ><i class="fa fa-power-off right"></i>Logout</a>
  </div>
    <svg viewBox="0 0 260 25" xmlns="http://www.w3.org/2000/svg">
      <style>
        .heavy { font: bold 10px sans-serif; }
        .Rrrrr { font: italic 10px serif; fill: red; text-shadow: 1px 1px 1px grey;}
      </style>
        <text x="80" y="15" class="heavy">edit</text>
      
        <text x="100" y="15" class="Rrrrr">product!</text>
      </svg>
    <form [formGroup]="formEdit" (ngSubmit)="onSubmit()">
      <div class="form-group">
      <input required formControlName="name" type="text" id="name" name="name" class="form-control" placeholder="enter name" />
    </div>
    <div class="form-group">
      <input required type="text" id="detail" formControlName="detail" name="detail" class="form-control" placeholder="enter detail" />
    </div>
    <div class="form-group">
      <button [disabled]="!formEdit.valid" class="btn btn-success"><i class="fa fa-edit right"></i>Update</button>
      <button class="btn btn-basic" style="margin-left:10px"  (click)="back()"><i class="fa fa-repeat"></i></button>
    </div>
    <div *ngIf="loading"><i class="fa fa-spinner"></i></div>  

    </form>
  </div>